.login {

  display: flex;
  justify-content: center;
  margin: 0 auto;

  .loginBlock {
    padding: 20px;
    background-color: #96735f;

    .inputBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .imgBlock {

    img {
      opacity: 0.9;
    }
  }

}