$commonShadow: #cecece;

.addNewMessage {
  display: flex;
  align-items: center;

  width: 610px;

  background-color: $commonShadow;

  .textArea {
    font-size: 14px;
    resize: none;

    outline: none;
    border: none;
    border-radius: 5px;

    height: 25px;
    width: 70vh;
    transition: all 0.3s linear 0s;
  }

  .textArea:focus {
    height: 50px;

    transition: all 0.3s linear 0s;
  }

  .sendBtn {

  }

}