.header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;

  margin-bottom: 20px;
  padding: 0 50px;

  background-color: #231f20;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);

  .logo {
    font-size: 30px;
    color: #929292;

    span {
      font-size: 36px;
      color: red;
    }
  }
}

