.header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;

  margin-bottom: 20px;
  padding: 0 50px;

  box-shadow: 0 0 5px 3px #646464;

  .logo {
    height: 55px;
  }
}

