.dialogsPage {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-areas:
            "n m";


  .dialogsNav {
    grid-area: n;
    cursor: pointer;

    display: flex;
    flex-direction: column;

    border-radius: 10px 0 0 10px;
    background-color: #2a5884;

    .addNewChatButton {
      cursor: pointer;
      padding: 15px 10px;
      margin: 10px 20px;
      border-radius: 15px;
      border:  none;
      font-weight: bold;

      transition: all 0.3s linear 0s;
    }

    .addNewChatButton:hover {
      background-color: lightgrey;
      transition: all 0.3s linear 0s;
    }

    .activeDialog {
      background-color: white;
      border-radius: 15px 0 0 15px;

    }

    .dialogsNavItem {
      display: flex;
      align-items: center;

      margin: 10px 0 10px 20px;
      padding: 5px 0;

      img {
        width: 65px;
        height: 65px;
        border-radius: 50%;

        margin: 0 10px;
      }

      .name {
        font-weight: bold;
      }
    }
  }

  .dialogs {
    position: relative;
    grid-area: m;

    .addNewChat {
      position: absolute;
      top: 30%;
      left: 30%;

      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
      }

      b {
        cursor: pointer;
      }
    }

    .messages {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      overflow-y: auto;
      overflow-x: hidden;
      height: 450px;


      margin-bottom: 75px;

      .message {
        align-self: flex-start;
        padding: 10px 20px;
        border-radius: 15px;

        word-wrap: break-word;
        max-width: 450px;

        margin: 5px 10px;
        background-color: lightgrey;
      }


      .newMessage {
        align-self: flex-end;
        background-color: #5a65ff;
      }

      .addNewMessage {
        position: absolute;
        bottom: 0;

        background-color: #a7b8c9;

        box-sizing: border-box;
        padding: 10px;
      }

    }
  }
}