.addDialog {
  background-color: #cecece;

  display: flex;
  justify-content: right;
  flex-wrap: nowrap;

  width: 900px;
  border-radius: 10px;


  .usersList {
    text-align: center;
    background-color: #ffffff;
    width: 600px;

    border-radius: 0 10px 10px 0;
    padding: 0 20px 0 0;

    .userItem {
      cursor: pointer;


      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 12px 60px;

      .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }

      .name {
        font-weight: bold;

        margin-bottom: 5px;
      }

      .checked {
        width: 25px;
        height: 25px;

        opacity: 0.4;
      }

      .activeChecked {
        opacity: 1;
      }
    }

    .buttonsGroup {
      margin-bottom: 30px;

      .addDialogButton {
        cursor: pointer;

        font-size: 14px;
        font-weight: bold;

        margin: 6px 6px 0;
        padding: 5px;

        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;

        transition: all 0.3s linear 0s;
      }

      .addDialogButton:hover {
        background-color: rgb(169, 169, 169);
        border: 1px solid rgb(2, 2, 2);

        transition: all 0.3s linear 0s;
      }

      .buttonBasic {
        cursor: pointer;

        font-size: 14px;
        font-weight: bold;

        margin: 6px 6px 0;
        padding: 5px;

        border: 1px solid rgb(5, 5, 5);
        border-radius: 5px;
        background-color: rgb(255, 255, 255);

        transition: all 0.3s linear 0s;
      }
    }
  }
}


