.addDialog {
  background-color: #2a5884;

  display: flex;
  justify-content: right;
  flex-wrap: nowrap;

  width: 900px;
  border-radius: 10px;


  .usersList {
    text-align: center;
    background-color: #ffffff;
    width: 600px;

    border-radius: 0 10px 10px 0;
    padding: 0 20px 0 0;

    .userItem {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }

      .name {
        font-weight: bold;
        color: #2a5884;

        margin-bottom: 5px;
      }
    }
  }
}