.container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
          "h h"
          "n c"
          "f f";

  max-width: 90%;
  margin: 0 auto;

  background-color: lightgrey;
  .content {
    background-color: aqua;
    border-radius: 10px;
  }
}
