
.editProfile {
  margin: 20px;

  h2 {
    text-align: center;
  }

  .changeTheme {
    display: flex;

    align-items: center;

    b {
      margin-left: 180px;
      opacity: 0.5;
    }
  }

  .changePhoto {
    display: flex;
    align-items: center;

    margin: 20px 0;

    .changeBlock {
      display: flex;
      align-items: flex-end;
      text-align: center;

      margin-left: 180px;

      .avatar {
        max-width: 180px;
        max-height: 180px;
        border-radius: 50%;

      }

      .changeAvatarBtn {
        width: 50px;
        height: 50px;

        margin-left: -40px;
      }
    }
  }

  .switchBlock {
    display: flex;
    align-items: center;

    .toggleBlock {
      display: flex;
      margin-left: 180px;

      b {
        margin: 0 10px;
      }

      input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
      }

      label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background: #fd5a78;
        display: block;
        border-radius: 100px;
        position: relative;
      }

      label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
      }

      input:checked + label {
        background: #76b155;
      }

      input:checked + label:after {
        left: calc(100% - 4px);
        transform: translateX(-100%);
      }

      label:active:after {
        width: 35px;
      }
    }
  }

  .aboutMe {
    display: flex;

    .textarea {
      margin: 0 auto;
      resize: none;
      border-radius: 5px;
      height: 100px;
      width: 350px;
    }
  }

  .skills {
    display: flex;

    .textarea {
      margin: 0 0 0 174px;
      resize: none;
      border-radius: 5px;
      height: 100px;
      width: 350px;
    }
  }

  .fullName {
    display: flex;
    align-items: center;

    input {
      margin: 0 auto;
      height: 30px;
      width: 350px;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;

    .contactItem {
      display: flex;
      justify-content: space-between;

      max-width: 350px;
      margin: 5px 0 5px 290px;

      .inputContact {

      }
    }

  }

  .buttons {
    text-align: center;

    .saveButton {
      cursor: pointer;
      color: #000000;

      font-size: 14px;
      font-weight: bold;

      margin: 6px 6px 0;
      padding: 5px;

      border: 2px solid rgb(0, 0, 0);

      transition: all 0.3s linear 0s;
    }

    .saveButton:hover {
      color: white;
      background-color: rgb(0, 0, 0);
      border: 2px solid rgb(0, 0, 0);

      transition: all 0.3s linear 0s;
    }
  }
}
