.navbar {
  grid-area: n;

  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);

  ul {


    li, li:visited {
      list-style-type: none;
      margin: 25px 0;

      text-align: left;

      .link, .link:visited, {
        text-decoration: none;
        color: black;
        padding: 3px 5px;
      }
    ;

      .link:hover {
        background-color: #d3d3d3;
        border-radius: 5px;
      }

      .activeLink, .activeLink:visited {
        text-decoration: none;
        font-weight: bold;
        color: black;
        border: 1px black solid;
        border-radius: 5px;
        padding: 3px 5px;
      }
    }
  }
}